DJANGO_DEBUG=True
DJANGO_ALLOWED_HOST="localhost"

LOCAL_DATABASE_NAME="db_name"
LOCAL_DATABASE_HOST="127.0.0.1"
LOCAL_DATABASE_USERNAME="dbuUser"
LOCAL_DATABASE_PASSWORD="dbPassword"

ORACLE_DB_NAME="db_name_high"
ORACLE_DB_USER="dbUser"
ORACLE_DB_PASSWORD="dbPassword"
ORACLE_WALLET_PASSWORD="walletPassword"

OCI_REGION="us-phoenix-1"
OCI_CUSTOMER_ACCESS_KEY="AAAAAA123456789"
OCI_CUSTOMER_SECRET_KEY="AAAAAA123456789"
OCI_NAMESPACE="aaaabbbbbccccc"
OCI_BUCKET_NAME="bucket-name"

# oci settings (boto3)
AWS_REQUEST_CHECKSUM_CALCULATION=when_required
AWS_RESPONSE_CHECKSUM_VALIDATION=when_required